*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head {
    border: none;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), 
    url('https://www.forbes.com/advisor/wp-content/uploads/2022/07/laptop.jpeg.jpg');
    background-size: 100% 100%;
    width: 100%;
}

.custom-shape-divider-bottom-1678789228 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    }

.custom-shape-divider-bottom-1678789228 svg {
    display: block;
    width: calc(118% + 1.3px);
    height: 116px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1678789228 .shape-fill {
    fill: #0d6efd;
}
