*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
}

main {
    border: none;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), 
    url('https://www.forbes.com/advisor/wp-content/uploads/2022/07/laptop.jpeg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    width: auto;
}

h3, h2, h1 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size:medium;
    color: white;
    background-color: transparent;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}
.custom-shape-divider-bottom-1678789228 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    }

.custom-shape-divider-bottom-1678789228 svg {
    display: block;
    width: calc(118% + 1.3px);
    height: 116px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1678789228 .shape-fill {
    fill: #0d6efd;
}
